<section>
    <h1>
        Sugestões
    </h1>
    <div class="container">
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
        <div class="item">
            <p>
                vestido longo marrom
            </p>
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <h2>R$ 99.99</h2>
        </div>
    </div>
</section>