section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1{
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: repeat(10, 3rem);
    gap: 6rem;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
}
.item h2{
    margin-top: 1rem;
    color: red;
}
.item img {
    width: 100%;      
    height: 100%;      
    object-fit: cover; 
    border-radius: 2rem;
}