<section>
    <h1>
        Sugestões
    </h1>
    <div class="container">
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
        <div class="item">
            <img src="/Carrossel/VestidoLolita.png" alt="Foto de Produto">
            <div class="sub">
                <h2>R$ 99.99</h2>
                <p>vestido longo marrom</p>
            </div>
        </div>
    </div>
</section>