*{
    font-size: 1.2rem;
    list-style: none;
}
#container{
    display: flex;
    background-color: rgb(253, 134, 134);
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}
.options ul{
    display: flex;
    gap: 1vw;
    align-items: center;
    margin: 1rem;
}
button{
    padding: 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
#login{
    background: none;
    color: aliceblue;
}
#cadastro{
    background-color: rgb(252, 191, 191);
    color: aliceblue;
}
#cadastro:hover{
    background-color: rgb(177, 133, 133);
}
input{
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: none;
    background-color: rgb(153, 82, 82);
}
input::placeholder{
    color: rgb(159, 164, 169);
}
input:focus::placeholder{
    opacity: 0;
}
input:focus{
    color: aliceblue;
    width: 31rem;
}

