<nav>
    <ul>
        <li>
            <button>
                Feminino
            </button>    
        </li>
        <li>
            <button>
                Masculino
            </button>    
        </li>
        <li>
            <button>
                Inverno
            </button>    
        </li>
        <li>
            <button>
                Joias
            </button>    
        </li>
        <li>
            <button>
                Tênis
            </button>    
        </li>
        <li>
            <button>
                Bolsas
            </button>    
        </li>
        <li>
            <button>
                Acessórios
            </button>
        </li>
        <li>
            <button>
                Decoração
            </button>
        </li>
        <li>
            <button>
                Capinhas
            </button>
        </li>
        <li>
            <button>
                Relógios
            </button>
        </li>
    </ul>
</nav>