<footer>
    <nav>
        <div class="item">
            <h4>
                ATENDIMENTO AO CLIENTE
            </h4>
            <ul>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
            </ul>
        </div>
        <div class="item">
            <h4>
                SOBRE NÓS
            </h4>
            <ul>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
            </ul>
        </div>
        <div class="item">
            <h4>
                AJUDA E SUPORTE
            </h4>
            <ul>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
                <li>
                    lorem ipsum
                </li>
            </ul>
        </div>
        <div class="item">
            <h4>
                REDES SOCIAIS
            </h4>
            <ul>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
                <li>
                    <p>
                        lorem ipsum
                    </p>
                </li>
            </ul>
        </div>
    </nav>
</footer>